.GamePage {
    padding: 5%;
}

.GamePage-stat {
    margin-top: 1%;
    font-size: 35px;
    font-family: 'Share', cursive;
    color: rgba(222, 202, 228, 0.92);
}

.GamePage-lost {
    text-transform: uppercase;
    font-size: 40px;
    color: rgba(255, 0, 0, 0.92);
    text-shadow: 2px 4px 20px rgb(71, 71, 71);
}

.GamePage-proceed {
    margin-top: 3vh;
    font-size: 25px;
    cursor: pointer;
}