.GamePage {
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 9%;
}

.GamePage-stat {
    margin-top: 1%;
    font-size: 35px;
    font-family: 'Share', cursive;
    color: rgba(222, 202, 228, 0.92);
}

.GamePage-lost, .GamePage-won {
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 2px 4px 20px rgb(71, 71, 71);
    margin-bottom: 0;
}

.GamePage-lost {
    color: rgba(255, 0, 0, 0.92);
}

.GamePage-won {
    color: rgba(0, 255, 13, 0.92);
}

.GamePage-finalResult {
    font-size: 22px;
    margin-bottom: 1rem;
}

.GamePage-proceed {
    margin-top: 3vh;
    font-size: 25px;
    cursor: pointer;
}

.GamePage-back {
    font-family: 'Share';
    text-transform: uppercase;
    position: absolute;
    color: white;
    font-size: 20px;
    top: 3%;
    left: 2rem;
    text-decoration: none;
    margin: 2rem;
}

.GamePage-back:hover {
    color: purple;
}

.WonLostPopUp {
    position: absolute;
    top: 0;
    background: linear-gradient(rgb(0,0,0), rgba(0, 0, 0, 0.37));
    width: 100vw;
    height: 100vh;
}

@media (max-width: 700px) {

    .GamePage {
        padding-top: 20%;
        min-height: 115vh;
    }

    .GamePage-back {
        left: .5rem;
        top: 1%;
    }

    .GamePage-proceed {
        font-size: 20px;
        margin-bottom: 100px;
    }

    .GamePage-finalResult {
        width: 85vw;
    }

}