.App {
  text-align: center;
  min-height: 100vh;
  font-size: 1rem;
  background-image: url("https://wallpapercave.com/wp/wp3102516.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  font-family: 'Share', cursive;
  font-size: 25px;
  text-decoration: none;
  padding: .5rem;
  background: linear-gradient(#fcea8f, #dcabf3);
  border-radius: 4px;
  border: none;
  transition: 0.2s all;
}

.btn:hover {
  background: linear-gradient(#ffe252, #c343ff);
  border: 1px solid white;
}

.btn a {
  text-decoration: none;
}


