* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-size: 1rem;
  background-image: url("https://wallpapercave.com/wp/wp3102516.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
  
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  font-family: 'Share', cursive;
  font-size: 28px;
  text-decoration: none;
  padding: 10px;
  margin: .5rem;
  background: linear-gradient(#ffffff, #eccafc);
  border-radius: 8px;
  border: none;
  transition: 0.2s all;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: linear-gradient(#ffe252, #c343ff);
  padding: 10px 11px;
  outline: none;
}

.btn:active {
  background: linear-gradient(#9500da, #e0bb00);
  padding: 10px 11px;
}

.btn a {
  text-decoration: none;
  color: rgb(28, 88, 112);
}

.btn:hover a, .btn:focus a  {
  color: rgb(255, 255, 255);
}

@media (max-width: 700px) {

  .btn {
    font-size: 25px;
  }

}
