.AnswerSet {
    display: flex;
    flex-wrap: wrap;
    width: 580px;
    justify-content: space-evenly;
}

.answer {
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 120px;
    cursor: pointer;
    transition: none;
}

.answer:disabled {
    background: white;
    color: rgb(94, 94, 94);
    cursor: auto;
}

@media (max-width: 700px) {

    .AnswerSet {
        width: 350px;
    }

    .answer {
        font-size: 20px;
        height: 70px;
        margin: 10px;
    }

}
